In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("email_phone_latest.csv")

In [3]:
df

,full_name,linkedin_url,phone_numbers,location_name,emails
0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']","detroit, michigan, united states",'jraudebaugh@gmail.com'
1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","brooklyn, new york, united states","'blankettegirl@gmail.com', 'yashoda.sampath@..."
2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],"boston, massachusetts, united states",'caw815@gmail.com'
3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],"roseboro, north carolina, united states",'secamimom@yahoo.com'
4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","denver, colorado, united states","'grwillo@juno.com', 'grwillo@aol.com', 'gwi..."
...,...,...,...,...,...
1048570,nick chen,linkedin.com/in/nicholasychen,"['+16504653433', '+16505741248', '+16505778481']","brooklyn, new york, united states","'nicholasy.chen@gmail.com', 'moohooua@sbcglo..."
1048571,carolyn dove,linkedin.com/in/carolyn-dove-4346a94,"['+18172332878', '+18172777685', '+15125650689...","arlington, texas, united states",'carolyndove@gmail.com'
1048572,susan paglia,linkedin.com/in/susan-paglia-4897009,"['+17172910618', '+15406623473']","stewartstown, pennsylvania, united states",'tspaglia@verizon.net'
1048573,michele starkey,linkedin.com/in/michele-starkey-166b2210,['+19524358200'],"burnsville, minnesota, united states",'bamstar57@yahoo.com'
1048574,lonnie thompson,linkedin.com/in/lonniethompson,['+14073600740'],"norfolk, virginia, united states","'latiii@yahoo.com', 'trueresultscc@gmail.com',"

In [4]:
df1 = df[['full_name', 'linkedin_url','phone_numbers', 'emails', 'location_name' ]]

In [5]:
df1

,full_name,linkedin_url,phone_numbers,emails,location_name
0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']",'jraudebaugh@gmail.com',"detroit, michigan, united states"
1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","'blankettegirl@gmail.com', 'yashoda.sampath@...","brooklyn, new york, united states"
2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],'caw815@gmail.com',"boston, massachusetts, united states"
3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],'secamimom@yahoo.com',"roseboro, north carolina, united states"
4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","'grwillo@juno.com', 'grwillo@aol.com', 'gwi...","denver, colorado, united states"
...,...,...,...,...,...
1048570,nick chen,linkedin.com/in/nicholasychen,"['+16504653433', '+16505741248', '+16505778481']","'nicholasy.chen@gmail.com', 'moohooua@sbcglo...","brooklyn, new york, united states"
1048571,carolyn dove,linkedin.com/in/carolyn-dove-4346a94,"['+18172332878', '+18172777685', '+15125650689...",'carolyndove@gmail.com',"arlington, texas, united states"
1048572,susan paglia,linkedin.com/in/susan-paglia-4897009,"['+17172910618', '+15406623473']",'tspaglia@verizon.net',"stewartstown, pennsylvania, united states"
1048573,michele starkey,linkedin.com/in/michele-starkey-166b2210,['+19524358200'],'bamstar57@yahoo.com',"burnsville, minnesota, united states"
1048574,lonnie thompson,linkedin.com/in/lonniethompson,['+14073600740'],"'latiii@yahoo.com', 'trueresultscc@gmail.com',","norfolk, virginia, united states"

In [6]:
df1.to_csv("email_phone_new.csv")