In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("email_phone_latest.csv")

In [4]:
df

,Unnamed: 0,full_name,linkedin_url,phone_numbers,emails,location_name,Personal_Email
0,0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']","[{'address': 'jraudebaugh@gmail.com', 'type': ...","detroit, michigan, united states",'jraudebaugh@gmail.com'
1,1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","[{'address': 'ysampath@hugeinc.com', 'type': '...","brooklyn, new york, united states","'blankettegirl@gmail.com', 'yashoda.sampath@..."
2,2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],"[{'address': 'caw815@gmail.com', 'type': 'pers...","boston, massachusetts, united states",'caw815@gmail.com'
3,3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],"[{'address': 'secamimom@yahoo.com', 'type': 'p...","roseboro, north carolina, united states",'secamimom@yahoo.com'
4,4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","[{'address': 'grwillo@juno.com', 'type': 'pers...","denver, colorado, united states","'grwillo@juno.com', 'grwillo@aol.com', 'gwi..."
...,...,...,...,...,...,...,...
3748877,3748877,christina duong,linkedin.com/in/christina-duong-5b321515,['+17032616958'],"[{'address': 'christina02@gmail.com', 'type': ...","fairfax, virginia, united states",'christina02@gmail.com'
3748878,3748878,kelly gelling,linkedin.com/in/kelly-gelling-53230223,"['+16316724958', '+16313211755', '+15164225638']","[{'address': 'riotgrl9@aol.com', 'type': 'pers...","ronkonkoma, new york, united states","'riotgrl9@aol.com', 'riotgrl9@comcast.net', ..."
3748879,3748879,lisa gillis,linkedin.com/in/lisa-gillis-44248024,"['+17348902524', '+17343980539', '+17348440806']","[{'address': 'lgillis80@yahoo.com', 'type': 'p...","canton, michigan, united states",'lgillis80@yahoo.com'
3748880,3748880,yvonne ceresa,linkedin.com/in/yvonneceresa,['+19253811105'],"[{'address': 'paceresa@yahoo.com', 'type': 'pe...","san francisco, california, united states",'paceresa@yahoo.com'
3748881,3748881,tanita thompson,linkedin.com/in/tanitathompson,['+12126955122'],"[{'address': 'tanitathompson@yahoo.com', 'type...","brooklyn, new york, united states",'tanitathompson@yahoo.com'

In [6]:
df.drop(columns='emails')

,Unnamed: 0,full_name,linkedin_url,phone_numbers,location_name,Personal_Email
0,0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']","detroit, michigan, united states",'jraudebaugh@gmail.com'
1,1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","brooklyn, new york, united states","'blankettegirl@gmail.com', 'yashoda.sampath@..."
2,2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],"boston, massachusetts, united states",'caw815@gmail.com'
3,3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],"roseboro, north carolina, united states",'secamimom@yahoo.com'
4,4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","denver, colorado, united states","'grwillo@juno.com', 'grwillo@aol.com', 'gwi..."
...,...,...,...,...,...,...
3748877,3748877,christina duong,linkedin.com/in/christina-duong-5b321515,['+17032616958'],"fairfax, virginia, united states",'christina02@gmail.com'
3748878,3748878,kelly gelling,linkedin.com/in/kelly-gelling-53230223,"['+16316724958', '+16313211755', '+15164225638']","ronkonkoma, new york, united states","'riotgrl9@aol.com', 'riotgrl9@comcast.net', ..."
3748879,3748879,lisa gillis,linkedin.com/in/lisa-gillis-44248024,"['+17348902524', '+17343980539', '+17348440806']","canton, michigan, united states",'lgillis80@yahoo.com'
3748880,3748880,yvonne ceresa,linkedin.com/in/yvonneceresa,['+19253811105'],"san francisco, california, united states",'paceresa@yahoo.com'
3748881,3748881,tanita thompson,linkedin.com/in/tanitathompson,['+12126955122'],"brooklyn, new york, united states",'tanitathompson@yahoo.com'

In [7]:
df1 = df[['full_name', 'linkedin_url', 'phone_numbers', 'Personal_Email', 'location_name' ]]

In [8]:
df1

,full_name,linkedin_url,phone_numbers,Personal_Email,location_name
0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']",'jraudebaugh@gmail.com',"detroit, michigan, united states"
1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","'blankettegirl@gmail.com', 'yashoda.sampath@...","brooklyn, new york, united states"
2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],'caw815@gmail.com',"boston, massachusetts, united states"
3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],'secamimom@yahoo.com',"roseboro, north carolina, united states"
4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","'grwillo@juno.com', 'grwillo@aol.com', 'gwi...","denver, colorado, united states"
...,...,...,...,...,...
3748877,christina duong,linkedin.com/in/christina-duong-5b321515,['+17032616958'],'christina02@gmail.com',"fairfax, virginia, united states"
3748878,kelly gelling,linkedin.com/in/kelly-gelling-53230223,"['+16316724958', '+16313211755', '+15164225638']","'riotgrl9@aol.com', 'riotgrl9@comcast.net', ...","ronkonkoma, new york, united states"
3748879,lisa gillis,linkedin.com/in/lisa-gillis-44248024,"['+17348902524', '+17343980539', '+17348440806']",'lgillis80@yahoo.com',"canton, michigan, united states"
3748880,yvonne ceresa,linkedin.com/in/yvonneceresa,['+19253811105'],'paceresa@yahoo.com',"san francisco, california, united states"
3748881,tanita thompson,linkedin.com/in/tanitathompson,['+12126955122'],'tanitathompson@yahoo.com',"brooklyn, new york, united states"

In [15]:
df2 = df1.rename(columns = {'Personal_Email': 'emails'})

In [11]:
df1.to_csv("email_phone_final.csv")

In [16]:
df2 = df1.rename(columns={'location_name': 'location', 'Personal_Email': 'emails'})

In [17]:
df2

,full_name,linkedin_url,phone_numbers,emails,location
0,jeff raudebaugh,linkedin.com/in/jeff-raudebaugh-816a8028,"['+17035355810', '+18105777866']",'jraudebaugh@gmail.com',"detroit, michigan, united states"
1,yashoda sampath,linkedin.com/in/yashoda-sampath-4322064,"['+19174747614', '+17186254843', '+18323264414...","'blankettegirl@gmail.com', 'yashoda.sampath@...","brooklyn, new york, united states"
2,christina wiech,linkedin.com/in/christinawiech,['+17742100415'],'caw815@gmail.com',"boston, massachusetts, united states"
3,heather shields,linkedin.com/in/heather-shields-6797b711b,['+19108241680'],'secamimom@yahoo.com',"roseboro, north carolina, united states"
4,gary willoughby,linkedin.com/in/gary-willoughby-4460036b,"['+13038103634', '+13036883488']","'grwillo@juno.com', 'grwillo@aol.com', 'gwi...","denver, colorado, united states"
...,...,...,...,...,...
3748877,christina duong,linkedin.com/in/christina-duong-5b321515,['+17032616958'],'christina02@gmail.com',"fairfax, virginia, united states"
3748878,kelly gelling,linkedin.com/in/kelly-gelling-53230223,"['+16316724958', '+16313211755', '+15164225638']","'riotgrl9@aol.com', 'riotgrl9@comcast.net', ...","ronkonkoma, new york, united states"
3748879,lisa gillis,linkedin.com/in/lisa-gillis-44248024,"['+17348902524', '+17343980539', '+17348440806']",'lgillis80@yahoo.com',"canton, michigan, united states"
3748880,yvonne ceresa,linkedin.com/in/yvonneceresa,['+19253811105'],'paceresa@yahoo.com',"san francisco, california, united states"
3748881,tanita thompson,linkedin.com/in/tanitathompson,['+12126955122'],'tanitathompson@yahoo.com',"brooklyn, new york, united states"

In [18]:
df2.to_csv("file.csv")